---
title: Info
---

<section class="mx-auto max-w-3xl px-4 py-12 md:px-6">
  <h1 class="text-3xl font-bold">Info</h1>

  {# General Information and Links #}
  <h2 class="mt-8 text-2xl font-bold text-brand-green">General Information and Links</h2>

  <div class="prose-page mt-4">
    <p>
      This page aims to provide items of general interest to potential and existing gardeners and allotmenteers.
      Please scroll down to view the miscellany of articles and links to other useful websites.
    </p>
    <p>
      Rents - details of current plot rent charges can be found on the
      <a href="/sites/#rents">Sites page here</a>.
    </p>

    <figure class="mt-6">
      <img
        src="/assets/uploads/gardening-workout-picture2_orig.png"
        alt="Gardening - a full body workout"
        loading="lazy"
        class="mx-auto w-full rounded-lg"
      />
      <figcaption class="mt-2 text-center text-sm text-brand-ink/70">Gardening - a full body workout</figcaption>
    </figure>
  </div>

  {# Allotment Tenancy Agreement #}
  <h2 id="tenancyagreement" class="mt-12 text-2xl font-bold text-brand-green">Allotment Tenancy Agreement</h2>
  <p class="mt-2 font-heading text-lg font-medium">effective from 01 April 2021 or next rent renewal</p>

  <p class="mt-4">
    <a
      href="/assets/documents/allotments_tenancy_agreement__24march2021.pdf"
      target="_blank"
      rel="noopener"
      class="inline-block rounded-lg bg-brand-green px-5 py-2 font-heading text-white transition hover:bg-brand-green/90"
    >See it here</a>
  </p>

  {# Control of Rodents on allotment sites #}
  <h2 id="rats" class="mt-12 text-2xl font-bold text-brand-green">Control of Rodents on allotment sites</h2>

  <figure class="mt-4">
    <img
      src="/assets/uploads/editor/rat-crossed.jpg"
      alt="No rats"
      loading="lazy"
      class="w-full max-w-xs rounded-lg"
    />
  </figure>

  <div class="prose-page mt-4">
    <p>
      Rats are a particular problem on allotments, particularly in unturned compost bins or loose heaps of rubbish.
    </p>
    <p>
      They will eat almost anything; windfall fruits and berries, discarded food, snails, insects, frogs, mice,
      carrion and much more. In natural surroundings they like to burrow into banks, normally near a food source.
      However, humans have provided them with many habitats: dark unused areas of sheds, wood piles that are not
      being used regularly, under bushes, in tall thick grass. untended compost heaps or bins, in holes or gaps
      under buildings.
    </p>
    <p>
      If we offer them food and shelter they will soon appear and settle down, bringing their friends and rapidly
      breeding. Prevention is the best cure and good site maintenance routines are essential to make them unwelcome.
      Also be aware that purchase and use of rodenticides is now much more strictly regulated than in the past, and
      hence: <strong>no poison is to be used on any of the Association sites</strong>.
    </p>
    <p>
      For much more information
      <a href="/assets/documents/rats_control_sept19_v1.pdf" target="_blank" rel="noopener">download and read this presentation</a>
      given by Ken Brown at the 2019 Awards evening.
    </p>
    <p><strong>Summary</strong></p>
    <ul>
      <li>If you think rats are living on your plot tell your site rep as soon as possible. They will provide or obtain specialist advice to be compliant with current legislation</li>
      <li>Don&rsquo;t put poison down yourself or use traditional methods &ndash; you will probably be breaking the law and in breach of your Tenancy Agreement</li>
      <li>Remember - Avoidance is far preferable to Elimination</li>
    </ul>
  </div>

  {# What is a pole as a measurement? #}
  <h2 class="mt-12 text-2xl font-bold text-brand-green">What is a pole as a measurement?</h2>

  <div class="prose-page mt-4">
    <p>We get lots of questions about the arcane land measurements used in Allotment language.</p>
    <p>
      Rods, Poles, and Perches are all different names for one measurement. The term Pole is a medieval ploughing
      measurement &ndash; the ploughman had up to eight oxen in pairs harnessed to the plough and his boy controlled
      the oxen with a stick. This stick had to be long enough to reach all the beasts and acquired the names rod,
      pole or perch. The Pole was measured as the length from the back of the plough to the nose of the ox.
    </p>
    <p>
      In the 16th century the lawful rod was decreed to be the combined length of the left feet of sixteen men, as
      they left church on a Sunday morning. Maybe an attempt at standardisation but not one we would use today!
      Traditionally a linear pole is a measurement of 5 paces or 5&frac12; yards. An earlier name for a rod was a
      &lsquo;gyrd&rsquo; from which came the yard.
    </p>
    <p>
      More confusingly the same term Pole is used to measure area. Strictly it is a &lsquo;square pole&rsquo;, the
      area bounded by one linear pole on each side. However the &lsquo;square&rsquo; has disappeared along with the
      linear pole and now &lsquo;pole&rsquo; invariably means a measurement of area.
    </p>
    <p>
      Finally, by doing the maths you will find that the traditional allotment size,
      <strong>a &rsquo;10 pole plot&rsquo; is just over 300 square yards.</strong>
      I&rsquo;ll leave you to work it out in square metres!
    </p>

    <figure class="mt-6">
      <img
        src="/assets/uploads/bb9625829p-3-1_orig.jpg"
        alt="Allotment plot measurement illustration"
        loading="lazy"
        class="mx-auto w-full rounded-lg"
      />
    </figure>
  </div>

  {# Links #}
  <h2 class="mt-12 text-2xl font-bold text-brand-green">Links</h2>

  <p class="mt-4">
    Links to other relevant websites which allotment holders may find useful, interesting, or just amusing.
    Note &ndash; the linked pages will open in a new tab or window.
  </p>

  <div class="prose-page mt-4">
    <p>
      <a href="https://www.rhs.org.uk/advice/beginners-guide/allotment-basics" target="_blank" rel="noopener">Allotment Beginners Guide</a><br />
      Useful common sense advice from the Royal Horticultural Society (RHS)
    </p>
    <p>
      <a href="https://www.mumsnet.com/Talk/gardening/2479301-Honestly-how-much-time-do-you-need-for-an-allotment" target="_blank" rel="noopener">How much time do you need for an allotment?</a><br />
      Discussion on mumsnet &ndash; can you run a young family and an allotment? (Note: &lsquo;full plots&rsquo; and
      &lsquo;half plots&rsquo; are 10 pole and 5 pole &ndash; the size of the plots on Ely&rsquo;s Bridge Fen and New
      Barns sites.) There are many other allotment pages on mumsnet.com.
    </p>
    <p>
      <a href="https://verticalveg.org.uk/" target="_blank" rel="noopener">Vertical Gardening</a><br />
      How to grow food in small spaces at home, perhaps some ideas whilst waiting for an allotment?
    </p>
    <p>
      <a href="http://ericwark.com/2020/04/03/the-allotment/" target="_blank" rel="noopener">Behind the Sky</a><br />
      A personal blog by a member of the Association. Read this stunning reflection on the allotment being a place
      of hope during troubled times.
    </p>
    <p>
      <a href="https://www.youtube.com/watch?v=AQUxOdSl_ko" target="_blank" rel="noopener">Selwyn&rsquo;s Soil Secrets: Soil basics</a><br />
      YouTube video of soil scientist Selwyn Richardson from Swavesey Allotments society
    </p>
    <p>
      <a href="http://www.nsalg.org.uk/" target="_blank" rel="noopener">NSALG &ndash; The National Allotments Society</a>.<br />
      The City of Ely Allotments and Gardens Association is a member of NSALG, and part of your plot rent pays your
      NSALG subscription. Be sure to use this resource &ndash; you have paid for it!
    </p>
    <p>
      <a href="http://aeronvale-allotments.org.uk/" target="_blank" rel="noopener">Aeron Vale Allotments Trust</a>.<br />
      Perhaps the most comprehensive website from a volunteer allotment society I have ever seen. Particularly useful
      vegetable growing reference section with calendars of what to do when &ndash; check out the &lsquo;Basics&rsquo;
      section.
    </p>
    <p>
      Plenty of room for more good links &ndash; please let us have your ideas for appropriate sites.
      Use the <a href="/contact/">Contact us form</a> to send your suggestions.
    </p>
  </div>
</section>
